<div class="container">
    <section class="section-box">
        <h2><span class="icon">💰</span> 1. Tus Números de Ahorro</h2>
        <form id="projection-form" [formGroup]="proyectionForm" (ngSubmit)="calculateProjection()">
            <div class="form-group">
                <label for="current-savings">¿Ya tienes dinero ahorrado? (Ej: 500)</label>
                <input type="number" id="current-savings" name="current-savings" min="0" value="0" required formControlName="currentSavings">
            </div>
            <div class="form-group">
                <label for="monthly-contribution">¿Cuánto vas a guardar CADA MES? (Ej: 100)</label>
                <input type="number" id="monthly-contribution" name="monthly-contribution" min="0" value="0" required formControlName="monthlyContribution">
            </div>
            <div class="form-group">
                <label for="time-period">¿Por cuántos meses quieres proyectar esto? (Ej: 12 meses)</label>
                <input type="number" id="time-period" name="time-period" min="1" value="12" required formControlName="timePeriod">
            </div>
            <div class="form-group">
                <label for="target-amount">¿Tienes una meta de ahorro? ¿Cuánto quieres juntar? (Opcional, Ej:
                    1500)</label>
                <input type="number" id="target-amount" name="target-amount" min="0" value="" formControlName="savingsGoalAmount">
            </div>
            <button type="submit">¡Calcula Mi Ahorro!</button>
        </form>
    </section>

    <section class="section-box">
        <h2><span class="icon">📈</span> 2. ¿Cómo se ve tu futuro de ahorro?</h2>
        <div id="projection-results" class="results-summary">
            <p>Al final de tu periodo de ahorro, ¡podrías tener un total de:</p>
            <strong id="estimated-savings">{{estimatedsavings()}}</strong>

            <p #timetotargetcontainer id="time-to-target-container" style="display: none;">
                <span #timetotargetmessage id="time-to-target-message"></span> 
                <strong #monthstotarget id="months-to-target"></strong>
            </p>
        </div>
        <div class="chart-container">
            <canvas #savingsChart id="savingsChart"></canvas>
        </div>
    </section>
</div>