@let user = userLogin();

<header>
    <h1>Panel de Gastos</h1>
    <div class="user-info-container">
    <div class="user-profile">
        @if (userImgGoogle) {
            <img *ngIf="userImgGoogle" [src]="userImgGoogle! | domSeguro" alt="User Profile Photo" class="profile-photo">
        } @else {
            <i class="fas fa-user profile-icon"></i>
        }
    </div>
    <div class="user-details">
        <span class="user-label">Usuario:</span>
        <strong class="user-email" *ngIf="user">{{ user?.user?.email }}</strong>
    </div>
    </div>

    @if (!isVisibleMenu()) {
    <nav>
        <ul style="cursor: pointer;">
            <li routerLinkActive="active">
                <a [routerLink]="['/private/dashboard']" routerLinkActive="active">Panel</a>
            </li>
            <li routerLinkActive="active">
                <a routerLinkActive="active" [routerLink]="['/private/add-expense']">Añadir Gasto</a>
            </li>
            <li routerLinkActive="active">
                <a routerLinkActive="active" [routerLink]="['/private/expenses']">Ver Gastos</a>
            </li>
            <li routerLinkActive="active">
                <a routerLinkActive="active" [routerLink]="['/private/proyection']">Proyeccion</a>
            </li>
            @if (isAdmin()) {
                <li routerLinkActive="active" class="submenu" style="position: relative;">
                    <a routerLinkActive="active" [routerLink]="['/private/panel-admin']" style="display: block;"
                        (click)="hideOptions()">Panel de Administración</a>
                </li>
            }
            <li routerLinkActive="active">
                <a (click)="logout()" routerLinkActive="active">Cerrar Sesión</a>
            </li>
        </ul>
    </nav>
    } @else {
    <nav>
        <ul style="cursor: pointer;">
            <li routerLinkActive="active">
                <a [routerLink]="['/private/panel-admin/resume-system']" routerLinkActive="active">Resumen del Sistema</a>
            </li>
            <li routerLinkActive="active" class="submenu" style="position: relative;">
                <a routerLinkActive="active" [routerLink]="['/private/panel-admin/config-user']" style="display: block;">Gestion usuarios</a>
            </li>
            <li routerLinkActive="active" class="submenu" style="position: relative;">
                <a routerLinkActive="active" [routerLink]="['/private/panel-admin/tdc']" style="display: block;">Gestion de TDC</a>
            </li>
            <li routerLinkActive="active" class="submenu" style="position: relative;">
                <a routerLinkActive="active" [routerLink]="['/private/panel-admin/deudas']" style="display: block;">Deudas</a>
            </li>
            <li routerLinkActive="active" class="submenu" style="position: relative;">
                <a routerLinkActive="active" style="display: block;" (click)="hideOptions()">Volver</a>
            </li>
        </ul>
    </nav>
    }
</header>