body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    background-color: #f4f4f4;
    // display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #343a40;
    color: white;
    padding: 1rem; /* Ajuste de padding */
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que los elementos de navegación se envuelvan */
}

nav ul li {
    margin: 5px 10px; /* Ajuste de márgenes */
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    display: block; /* Para que el padding funcione correctamente */
    padding: 8px 12px; /* Añadir padding a los enlaces */
    border-radius: 4px; /* Opcional: bordes redondeados */
}

nav ul li a:hover {
    color: #007bff;
    background-color: rgba(0, 123, 255, 0.1); /* Opcional: feedback al pasar el ratón */
}

nav ul li a.active {
    font-weight: bold;
}

main {
    padding: 15px; /* Ajuste de padding */
    min-height: calc(100vh - 100px); /* Ajustar según la altura del header y footer */
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 0.5rem 0; /* Ajuste de padding */
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem; /* Ajuste de tamaño de fuente */
}

.summary-cards {
    display: flex;
    gap: 10px; /* Ajuste de espacio */
    margin-bottom: 15px; /* Ajuste de margen */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en pantallas pequeñas */
}

.summary-cards .card {
    background-color: #fff;
    padding: 10px; /* Ajuste de padding */
    border-radius: 6px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    flex-basis: calc(50% - 10px); /* Dos tarjetas por fila en pantallas medianas */
    text-align: center;
    box-sizing: border-box; /* Importante para el ancho con padding y border */
}

.summary-cards .card h3 {
    margin-top: 0;
    color: #555;
    font-size: 1.1rem; /* Ajuste de tamaño de fuente */
}

/* Media query para pantallas más pequeñas (ej: móviles) */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column; /* Navegación en columna */
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
        width: 100%;
        text-align: center;
    }

    .summary-cards {
        flex-direction: column; /* Tarjetas en columna */
    }

    .summary-cards .card {
        flex-basis: 100%;
    }
}

/* Media query para pantallas medianas (ej: tablets) */
@media (min-width: 601px) and (max-width: 992px) {
    .summary-cards .card {
        flex-basis: calc(50% - 10px); /* Dos tarjetas por fila */
    }
}